@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  font-family: "Ubuntu", sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #42454a;
}
h2{
  font-size: 3em
}
h3{
  font-size: 1.5em;
}
.site {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
.span {
  -webkit-text-stroke: 3px #42454a;
}
/*----------------*/
/*------TOPO------*/
.topo {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
}
.topo ul {
  display: flex;
  gap: 15px;
}
.topo ul li a {
  font-size: 1.5em;
}
.login {
  box-shadow: 0px 12px 25px -10px rgba(66, 69, 74, 0.3);
}
.login a {
  border-radius: 10px;
  padding: 15px;
  background-color: #42454a;
  color: white;
}
/*------TOPO------*/
/*----------------*/

/*----------------*/
/*-----BANNER-----*/
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 12em;
  font-size: 5em;
}
.banner h1 {
  margin-left: 4em;
  border-bottom: 6px solid #42454a;
  border-radius: 20px;
}
.blocos {
  display: flex;
  justify-content: space-around;
  height: 10vh;
}
.blocos div {
  align-items: center;
  width: 60px;
  height: 30px;
  padding: 2em;
  font-weight: 600;
  border: 0.4px solid #c3c5c9;
  border-radius: 10px;
  box-shadow: 0px 13.2112px 26.4223px rgba(0, 0, 0, 0.06);
}
.blocos span {
  display: flex;
}
/*-----BANNER-----*/
/*----------------*/

/*----------------*/
/*-----SOBRE------*/
.sobre {
  display: flex;
  margin-top: 20em;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.sobre div {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  height: 50em;
}
.sobre div ul li {
  display: flex;
  align-items: center;
  margin: 10px;
}
/*-----SOBRE------*/
/*----------------*/

/*----------------*/
/*---EFICIENCIA---*/
.eficiencia{
display: flex;
margin-top: 20em;
flex-direction: column;
text-align: center;
}
.eficiencia img{
  margin-top: 5em;
  width: 1300px;
}
/*---EFICIENCIA---*/
/*----------------*/

/*----------------*/
/*---ACESSORIOS---*/
.acessorios{
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 10em;
}
.acessorios div{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 5em;
}
.acessorios div div{
  flex-direction: column;
}
.acessorios div div ul li{
  display: flex;
  align-items: center;
  margin: 20px;
}
.acessorios a{
  margin-top: 2em;
  font-size: 1.5em;
  border: 1px solid #adb1b7;
  border-radius: 10px;
  padding: 10px;
}
.acessorios a:hover{
  background-color: #adb1b7;
}
/*---ACESSORIOS---*/
/*----------------*/

/*----------------*/
/*------CORES-----*/
.cores{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 10em;
}
.cores div{
  margin-top: 4em;
  display: flex;
  justify-content: center;
  justify-content: space-around;
 }

/*------CORES-----*/
/*----------------*/